<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h2>Rostdan ham ushbu mijozni o‘chirmoqchimisiz?</h2>
    <p><strong>{{ object.title }}</strong> (ID: {{ object.id }})</p>

    <form method="post">
      {% csrf_token %}
      <a href="{% url 'mijoz_list' %}" class="btn btn-secondary">Bekor qilish</a>
      <button type="submit" class="btn btn-danger">Ha, o'chir</button>
    </form>
  </div>
{% endblock %}

</body>
</html>